<nav class="navbar navbar-expand bg-primary">
  <div class="container">
    <div class="row">
      <div class="col">
        <a class="navbar-brand" href="#">{{title | uppercase}}</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">

  <div class="row">
    <div class="col">

      <div class="form-group">
        <label for="salary">Salary</label>
        <input #box (keyup)="onKeyup(box.value)"
               aria-describedby="salaryHelp"
               class="form-control"
               id="salary"
               placeholder="Salary"
               type="number">
        <small class="form-text text-muted" id="salaryHelp">
          Your maximum take home salary in the first month of the financial year
        </small>
      </div>

    </div>
  </div>

  <div *ngIf="salaries.length > 0" class="row">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th class="col-1" scope="col">
            <!--            place holder  -->
          </th>
          <th *ngFor="let month of months" class="col-1" scope="col">
            {{month}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Salary</th>
          <td *ngFor="let salary of salaries">{{salary | currency:'GBP'}}</td>
        </tr>
        <tr>
          <th>Variance</th>
          <td *ngFor="let salary of salaries">{{average - salary | currency:"GBP"}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="salaries.length > 0" class="row">
    <div class="col">
      <app-salary [salaries]="salaries"></app-salary>
    </div>
  </div>

</div>
